In [91]:
import numpy as np
from pyprojroot.here import here
import pandas as pd
from pyarrow import feather
import janitor
from janitor import clean_names

eventos = janitor.clean_names(feather.read_feather(here("data/EventosFinalCompleto.feather")))
eventos

,codigo_do_relatorio,concelho,data_do_incidente,nivel_de_tensao,causa_do_incidente,duracao_incidente_min_,n_º_clientes_afetados,tiepi_mt_min_,saifi_mt_#_,saidi_mt_min_,...,t_med,t_max,t_min,dd_med,dd_ffx,ff_med,ff_max,pr_qtd,maxheight,minheight
0,EDPD_2018_JAN_T_1,ALMADA,2018-01-02,MT,Escavações,55,828,0.002935,0.000044,0.002456,...,10.70,17.40,2.600,278.25,289.50,2.0,7.800,0.000000,125.0,0.0
1,EDPD_2018_JAN_T_2,SERTA,2018-01-02,MT,Abate De Árvores,163,549,0.002933,0.000177,0.016501,...,10.60,13.80,6.200,249.00,270.00,2.8,8.100,0.000000,1084.0,125.0
2,EDPD_2018_JAN_T_3,FELGUEIRAS,2018-01-04,MT,Deslizamento De Terras,596,3459,0.019228,0.000266,0.035905,...,14.00,14.80,12.900,197.00,180.00,3.9,14.400,4.000000,575.0,145.0
3,EDPD_2018_JAN_T_4,TORRES VEDRAS,2018-01-05,BT,Veículos,178,102,0.000000,0.000000,0.000000,...,12.40,15.10,9.100,288.00,225.00,3.6,13.900,13.200000,394.0,0.0
4,EDPD_2018_JAN_T_5,NISA,2018-01-09,MT,Aves,119,1731,0.004422,0.000155,0.010038,...,4.90,7.80,2.200,137.00,118.00,4.1,15.400,15.900000,463.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,EDPD_2020_DEZ_T_21,POMBAL,2020-12-24,MT,Abate De Árvores,139,2517,0.005941,0.000461,0.017245,...,7.90,12.20,2.100,7.00,351.00,1.7,7.600,0.000000,560.0,0.0
2918,EDPD_2020_DEZ_T_22,VILA NOVA DE GAIA,2020-12-30,MT,Aves,81,3641,0.011914,0.000290,0.011131,...,4.45,9.05,0.275,239.00,186.25,1.5,4.825,0.787500,262.0,0.0
2919,EDPD_2020_DEZ_T_23,ALBUFEIRA,2020-12-28,MT,Escavações,81,3175,0.005974,0.000086,0.005940,...,13.20,15.30,7.700,285.00,293.00,5.8,14.100,0.100000,227.0,0.0
2920,EDPD_2020_DEZ_T_24,CASTRO MARIM,2020-12-28,MT,Veículos,239,591,0.006928,0.000054,0.011528,...,13.20,15.30,7.700,285.00,293.00,5.8,14.100,0.100000,276.0,0.0
2921,EDPD_2020_DEZ_T_25,OURIQUE,2020-12-29,MT,Aves,129,1,0.000394,0.000011,0.001386,...,7.40,12.40,3.400,280.00,344.00,3.9,9.500,0.766667,377.0,65.0

In [92]:
# objetivo: transformar estes eventos em diario
eventos.columns
"""
Index(['codigo_do_relatorio', 'concelho', 'data_do_incidente',
       'nivel_de_tensao', 'causa_do_incidente', 'duracao_incidente_min_',
       'n_º_clientes_afetados', 'tiepi_mt_min_', 'saifi_mt_#_',
       'saidi_mt_min_', 'end_mwh_', 'saifi_bt_#_', 'saidi_bt_min_', 'decisao',
       'distrito', 'densidade_populacional', 'populacao_residente',
       'setor_primario', 'setor_secundario', 'setor_terciario',
       'indice_de_envelhecimento', 'rural', 'count_zonaa', 'count_zonab',
       'count_zonac', 'total_concelho_zonas', 'percentagem_zonaa',
       'percentagem_zonab', 'percentagem_zonac', 'soma_degree_rede_concelho',
       'n_subestacoes_concelho', 'classe_da_causa_4', 'classe_da_causa_6',
       'perc_prim', 'perc_sec', 'perc_terc', 'sen_ano', 'cos_ano', 'sen_mes',
       'cos_mes', 't_med', 't_max', 't_min', 'dd_med', 'dd_ffx', 'ff_med',
       'ff_max', 'pr_qtd', 'maxheight', 'minheight'],
      dtype='object')
"""

"\nIndex(['codigo_do_relatorio', 'concelho', 'data_do_incidente',\n       'nivel_de_tensao', 'causa_do_incidente', 'duracao_incidente_min_',\n       'n_º_clientes_afetados', 'tiepi_mt_min_', 'saifi_mt_#_',\n       'saidi_mt_min_', 'end_mwh_', 'saifi_bt_#_', 'saidi_bt_min_', 'decisao',\n       'distrito', 'densidade_populacional', 'populacao_residente',\n       'setor_primario', 'setor_secundario', 'setor_terciario',\n       'indice_de_envelhecimento', 'rural', 'count_zonaa', 'count_zonab',\n       'count_zonac', 'total_concelho_zonas', 'percentagem_zonaa',\n       'percentagem_zonab', 'percentagem_zonac', 'soma_degree_rede_concelho',\n       'n_subestacoes_concelho', 'classe_da_causa_4', 'classe_da_causa_6',\n       'perc_prim', 'perc_sec', 'perc_terc', 'sen_ano', 'cos_ano', 'sen_mes',\n       'cos_mes', 't_med', 't_max', 't_min', 'dd_med', 'dd_ffx', 'ff_med',\n       'ff_max', 'pr_qtd', 'maxheight', 'minheight'],\n      dtype='object')\n"

In [93]:
from unidecode import unidecode
def transform_concelhos(x):
  return unidecode(x).upper().replace(' ', '-')

# distritos diarios
ipma = clean_names(feather.read_feather(here("data/dados_ipma/dados_ipma_imputado.feather")))
# filter > 2018
ipma = ipma[ipma.date >= "2018-01-01"]
# filter to lisboa
ipma.rename(columns={"estacao": "distrito"}, inplace=True)
ipma.index = ipma.date
ipma["sen_ano"] = np.sin(2*np.pi*ipma.index.year/12)
ipma["cos_ano"] = np.cos(2*np.pi*ipma.index.year/12)
ipma["sen_mes"] = np.sin(2*np.pi*ipma.index.month/12)
ipma["cos_mes"] = np.cos(2*np.pi*ipma.index.month/12)
ipma.drop(columns=["index", "ano", "mes", "dia", "date"], inplace=True)
ipma["distrito"] = ipma["distrito"].apply(transform_concelhos)
not_event_related = ["densidade_populacional", "populacao_residente", "setor_primario", "setor_secundario", "setor_terciario", "indice_de_envelhecimento", "rural", "count_zonaa", "count_zonab", "count_zonac", "total_concelho_zonas", "percentagem_zonaa", "percentagem_zonab", "percentagem_zonac", "soma_degree_rede_concelho", "n_subestacoes_concelho",  "perc_prim", "perc_sec", "perc_terc", "minheight", "maxheight"]
ipma

,distrito,t_med,t_max,t_min,dd_med,dd_ffx,ff_med,ff_max,pr_qtd,dd_med_sin,dd_med_cos,dd_ffx_sin,dd_ffx_cos,sen_ano,cos_ano,sen_mes,cos_mes
date,,,,,,,,,,,,,,,,,
2018-01-01,AVEIRO,12.6,16.8,8.1,206.000000,259.000000,2.833333,8.733333,0.0,-0.974642,0.223770,0.983593,0.180401,0.866025,0.500000,5.000000e-01,0.866025
2018-01-02,AVEIRO,14.8,16.2,12.6,214.666667,228.666667,2.966667,8.233333,2.6,0.861576,0.507629,0.620670,-0.784072,0.866025,0.500000,5.000000e-01,0.866025
2018-01-03,AVEIRO,15.6,17.0,13.3,242.666667,264.333333,2.600000,8.466667,2.9,-0.691839,-0.722052,0.425533,0.904943,0.866025,0.500000,5.000000e-01,0.866025
2018-01-04,AVEIRO,15.0,16.7,12.5,215.333333,212.000000,3.166667,10.833333,3.9,0.991004,-0.133834,-0.998347,-0.057472,0.866025,0.500000,5.000000e-01,0.866025
2018-01-05,AVEIRO,12.3,15.9,6.4,280.333333,272.000000,3.866667,15.133333,36.6,-0.668052,-0.744115,0.968357,-0.249569,0.866025,0.500000,5.000000e-01,0.866025
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-27,EVORA,5.0,6.9,3.6,89.000000,94.000000,2.400000,6.600000,0.1,0.860069,0.510177,-0.245252,0.969459,-0.500000,-0.866025,-2.449294e-16,1.000000
2023-12-28,EVORA,7.8,13.9,4.3,80.000000,121.000000,1.600000,4.200000,0.0,-0.993889,-0.110387,0.998815,-0.048664,-0.500000,-0.866025,-2.449294e-16,1.000000
2023-12-29,EVORA,8.9,13.1,6.4,85.000000,79.000000,1.400000,4.500000,0.0,-0.176076,-0.984377,-0.444113,-0.895971,-0.500000,-0.866025,-2.449294e-16,1.000000
2023-12-30,EVORA,8.2,15.3,2.0,103.000000,139.000000,1.300000,4.300000,0.1,0.622989,-0.782231,0.696080,0.717964,-0.500000,-0.866025,-2.449294e-16,1.000000
2023-12-31,EVORA,10.6,13.5,6.8,275.000000,339.000000,1.600000,7.000000,1.1,-0.993885,0.110417,-0.287874,0.957668,-0.500000,-0.866025,-2.449294e-16,1.000000

In [94]:
concelhos_e_distritos = eventos.select_columns(["concelho", "distrito"]).drop_duplicates()
days = pd.date_range(start="2018-01-01", end="2023-12-31", freq="D")
days = pd.DataFrame({"date": days})
merged = pd.merge(concelhos_e_distritos, days, how="cross")
merged

       concelho distrito       date
0        ALMADA  SETUBAL 2018-01-01
1        ALMADA  SETUBAL 2018-01-02
2        ALMADA  SETUBAL 2018-01-03
3        ALMADA  SETUBAL 2018-01-04
4        ALMADA  SETUBAL 2018-01-05
...         ...      ...        ...
560891  RESENDE    VISEU 2023-12-27
560892  RESENDE    VISEU 2023-12-28
560893  RESENDE    VISEU 2023-12-29
560894  RESENDE    VISEU 2023-12-30
560895  RESENDE    VISEU 2023-12-31

[560896 rows x 3 columns]

In [95]:
# left join with ipma
final = pd.merge(merged, ipma, how="left", left_on=["distrito", "date"], right_on=["distrito", "date"])
# now join not event related
final = pd.merge(final, eventos.select_columns(not_event_related + ["concelho", "data_do_incidente"]).drop_duplicates(), how="left", left_on=["concelho", "date"], right_on=["concelho", "data_do_incidente"], suffixes=("", "_eventos"))
final

,concelho,distrito,date,t_med,t_max,t_min,dd_med,dd_ffx,ff_med,ff_max,...,percentagem_zonab,percentagem_zonac,soma_degree_rede_concelho,n_subestacoes_concelho,perc_prim,perc_sec,perc_terc,minheight,maxheight,data_do_incidente
0,ALMADA,SETUBAL,2018-01-01,8.8,17.8,2.7,273.50,292.5,1.700,6.725,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
1,ALMADA,SETUBAL,2018-01-02,10.7,17.4,2.6,278.25,289.5,2.000,7.800,...,0.351955,0.078212,17.0,7.0,0.005225,0.136672,0.858103,0.0,125.0,2018-01-02
2,ALMADA,SETUBAL,2018-01-03,14.7,17.5,10.2,291.25,320.5,2.050,6.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
3,ALMADA,SETUBAL,2018-01-04,15.0,20.3,12.9,255.25,244.5,2.625,7.450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
4,ALMADA,SETUBAL,2018-01-05,12.8,15.7,9.5,245.25,194.0,3.575,11.200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560891,RESENDE,VISEU,2023-12-27,7.3,12.6,2.8,133.00,90.0,2.600,5.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
560892,RESENDE,VISEU,2023-12-28,8.8,10.7,7.2,202.00,208.0,2.300,5.500,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
560893,RESENDE,VISEU,2023-12-29,9.3,11.9,7.9,157.00,231.0,1.400,3.700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
560894,RESENDE,VISEU,2023-12-30,9.0,9.7,7.6,191.00,219.0,2.600,8.300,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT
560895,RESENDE,VISEU,2023-12-31,7.4,10.4,5.2,277.00,214.0,3.700,10.900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT

In [96]:
# a lot of NAs, so group up by each column added from eventos, year and concelho and get first
final_groups = final.copy()
for col in not_event_related:
  final_groups[col] = final_groups.groupby(["concelho"])[col].transform("first")
# show where NA still
final_groups.drop(columns=["data_do_incidente"], inplace=True)
final_groups

,concelho,distrito,date,t_med,t_max,t_min,dd_med,dd_ffx,ff_med,ff_max,...,percentagem_zonaa,percentagem_zonab,percentagem_zonac,soma_degree_rede_concelho,n_subestacoes_concelho,perc_prim,perc_sec,perc_terc,minheight,maxheight
0,ALMADA,SETUBAL,2018-01-01,8.8,17.8,2.7,273.50,292.5,1.700,6.725,...,0.569832,0.351955,0.078212,17.0,7.0,0.005225,0.136672,0.858103,0.0,125.0
1,ALMADA,SETUBAL,2018-01-02,10.7,17.4,2.6,278.25,289.5,2.000,7.800,...,0.569832,0.351955,0.078212,17.0,7.0,0.005225,0.136672,0.858103,0.0,125.0
2,ALMADA,SETUBAL,2018-01-03,14.7,17.5,10.2,291.25,320.5,2.050,6.200,...,0.569832,0.351955,0.078212,17.0,7.0,0.005225,0.136672,0.858103,0.0,125.0
3,ALMADA,SETUBAL,2018-01-04,15.0,20.3,12.9,255.25,244.5,2.625,7.450,...,0.569832,0.351955,0.078212,17.0,7.0,0.005225,0.136672,0.858103,0.0,125.0
4,ALMADA,SETUBAL,2018-01-05,12.8,15.7,9.5,245.25,194.0,3.575,11.200,...,0.569832,0.351955,0.078212,17.0,7.0,0.005225,0.136672,0.858103,0.0,125.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
560891,RESENDE,VISEU,2023-12-27,7.3,12.6,2.8,133.00,90.0,2.600,5.700,...,0.000000,0.000000,1.000000,0.0,0.0,0.170873,0.237308,0.591819,50.0,1218.0
560892,RESENDE,VISEU,2023-12-28,8.8,10.7,7.2,202.00,208.0,2.300,5.500,...,0.000000,0.000000,1.000000,0.0,0.0,0.170873,0.237308,0.591819,50.0,1218.0
560893,RESENDE,VISEU,2023-12-29,9.3,11.9,7.9,157.00,231.0,1.400,3.700,...,0.000000,0.000000,1.000000,0.0,0.0,0.170873,0.237308,0.591819,50.0,1218.0
560894,RESENDE,VISEU,2023-12-30,9.0,9.7,7.6,191.00,219.0,2.600,8.300,...,0.000000,0.000000,1.000000,0.0,0.0,0.170873,0.237308,0.591819,50.0,1218.0
560895,RESENDE,VISEU,2023-12-31,7.4,10.4,5.2,277.00,214.0,3.700,10.900,...,0.000000,0.000000,1.000000,0.0,0.0,0.170873,0.237308,0.591819,50.0,1218.0

In [98]:
# tirar as colunas que foram postas dos eventos
eventos.drop(columns=not_event_related, inplace=True)
eventos

,codigo_do_relatorio,concelho,data_do_incidente,nivel_de_tensao,causa_do_incidente,duracao_incidente_min_,n_º_clientes_afetados,tiepi_mt_min_,saifi_mt_#_,saidi_mt_min_,...,sen_mes,cos_mes,t_med,t_max,t_min,dd_med,dd_ffx,ff_med,ff_max,pr_qtd
0,EDPD_2018_JAN_T_1,ALMADA,2018-01-02,MT,Escavações,55,828,0.002935,0.000044,0.002456,...,0.207912,0.978148,10.70,17.40,2.600,278.25,289.50,2.0,7.800,0.000000
1,EDPD_2018_JAN_T_2,SERTA,2018-01-02,MT,Abate De Árvores,163,549,0.002933,0.000177,0.016501,...,0.207912,0.978148,10.60,13.80,6.200,249.00,270.00,2.8,8.100,0.000000
2,EDPD_2018_JAN_T_3,FELGUEIRAS,2018-01-04,MT,Deslizamento De Terras,596,3459,0.019228,0.000266,0.035905,...,0.207912,0.978148,14.00,14.80,12.900,197.00,180.00,3.9,14.400,4.000000
3,EDPD_2018_JAN_T_4,TORRES VEDRAS,2018-01-05,BT,Veículos,178,102,0.000000,0.000000,0.000000,...,0.207912,0.978148,12.40,15.10,9.100,288.00,225.00,3.6,13.900,13.200000
4,EDPD_2018_JAN_T_5,NISA,2018-01-09,MT,Aves,119,1731,0.004422,0.000155,0.010038,...,0.207912,0.978148,4.90,7.80,2.200,137.00,118.00,4.1,15.400,15.900000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2917,EDPD_2020_DEZ_T_21,POMBAL,2020-12-24,MT,Abate De Árvores,139,2517,0.005941,0.000461,0.017245,...,0.587785,-0.809017,7.90,12.20,2.100,7.00,351.00,1.7,7.600,0.000000
2918,EDPD_2020_DEZ_T_22,VILA NOVA DE GAIA,2020-12-30,MT,Aves,81,3641,0.011914,0.000290,0.011131,...,0.587785,-0.809017,4.45,9.05,0.275,239.00,186.25,1.5,4.825,0.787500
2919,EDPD_2020_DEZ_T_23,ALBUFEIRA,2020-12-28,MT,Escavações,81,3175,0.005974,0.000086,0.005940,...,0.587785,-0.809017,13.20,15.30,7.700,285.00,293.00,5.8,14.100,0.100000
2920,EDPD_2020_DEZ_T_24,CASTRO MARIM,2020-12-28,MT,Veículos,239,591,0.006928,0.000054,0.011528,...,0.587785,-0.809017,13.20,15.30,7.700,285.00,293.00,5.8,14.100,0.100000
2921,EDPD_2020_DEZ_T_25,OURIQUE,2020-12-29,MT,Aves,129,1,0.000394,0.000011,0.001386,...,0.587785,-0.809017,7.40,12.40,3.400,280.00,344.00,3.9,9.500,0.766667

In [99]:
# write both
eventos.to_feather(here("data/EventosApeans.feather"))
final_groups.to_feather(here("data/DiariosApeans.feather"))