In [5]:
from pyprojroot.here import here

here()
import pandas as pd
import duckdb
from janitor import clean_names
df = clean_names(pd.read_excel(here(r"data/QuebrasJuntoInc.xlsx")))
duckdb.sql(r"select * from df").df()

/home/notplancha/Desktop/pfacd/.pixi/envs/default/lib/python3.12/site-packages/openpyxl/packaging/core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()
/home/notplancha/Desktop/pfacd/.pixi/envs/default/lib/python3.12/site-packages/openpyxl/packaging/core.py:99: DeprecationWarning: datetime.datetime.utcnow() is deprecated and scheduled for removal in a future version. Use timezone-aware objects to represent datetimes in UTC: datetime.datetime.now(datetime.UTC).
  now = datetime.datetime.utcnow()

,codigo_do_relatorio,concelho,data_do_incidente,nivel_de_tensao,causa_do_incidente,duracao_incidente_min_,n_º_clientes_afetados,tiepi_mt_min_,saifi_mt_#_,saidi_mt_min_,...,indice_de_envelhecimento,rural,t_med,t_max,t_min,dd_med,dd_ffx,ff_med,ff_max,pr_qtd
0,EDPD_2018_JAN_T_1,Almada,2018-01-02,MT,Escavações,55,828.0,"0,0029345","0,0000443","0,0024563",...,157.9,0.000000,10.7,17.4,2.6,NaN,NaN,NaN,NaN,0.0
1,EDPD_2018_JAN_T_2,Sertã,2018-01-02,MT,Abate De Árvores,163,549.0,"0,0029335","0,0001770","0,0165009",...,260.2,1.000000,10.6,13.8,6.2,249.0,270.0,2.8,8.1,0.0
2,EDPD_2018_JAN_T_3,Felgueiras,2018-01-04,MT,Deslizamento De Terras,596,3459.0,"0,0192281","0,0002655","0,0359047",...,117.9,0.800000,14.0,14.8,12.9,197.0,180.0,3.9,14.4,4.0
3,EDPD_2018_JAN_T_4,Torres Vedras,2018-01-05,BT,Veículos,178,102.0,"0,0000000","0,0000000","0,0000000",...,156.4,0.923077,12.4,15.1,9.1,288.0,225.0,3.6,13.9,13.2
4,EDPD_2018_JAN_T_5,Nisa,2018-01-09,MT,Aves,119,1731.0,"0,0044221","0,0001549","0,0100377",...,467.9,1.000000,4.9,7.8,2.2,137.0,118.0,4.1,15.4,15.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7286,EDPD_2017_NOV_T_62,Ovar,2017-11-29,BT,Veículos,220,2.0,0,0,0,...,141.7,1.000000,10.3,14.3,6.3,NaN,NaN,NaN,NaN,0.0
7287,EDPD_2017_NOV_T_63,Santa Maria Da Feira,2017-11-03,BT,Veículos,92,1.0,0,0,0,...,134.6,0.000000,16.4,20.6,14.8,NaN,NaN,NaN,NaN,NaN
7288,EDPD_2017_NOV_T_64,Santa Maria Da Feira,2017-11-23,BT,Veículos,121,1.0,0,0,0,...,134.6,0.000000,17.9,22.6,14.6,NaN,NaN,NaN,NaN,8.1
7289,EDPD_2017_NOV_T_65,Almeirim,2017-11-03,BT,Descarga Atmosférica Directa,154,1.0,0,0,0,...,175.1,1.000000,15.0,20.8,12.8,186.0,186.0,2.5,11.0,NaN
7290,IGI_2017_DEZ_TC_001,Vila Nova De Famalicão,2017-12-10,"AT, MT, BT",Vento Intensidade Excepcional,2440,1058005.0,"17,100","0,330","29,300",...,124.3,0.794118,14.4,15.8,10.2,231.0,225.0,NaN,NaN,NaN

In [14]:
duckdb.sql(r"select distinct tiepi_mt_min_, end_mwh_  from df where nivel_de_tensao = 'BT'").df()

   tiepi_mt_min_   end_mwh_
0        0,00000    0,00000
1        0,00089    0,06025
2      0,0000000  0,0100000
3      0,0000000      0.001
4      0,0000000  0,0010000
5       0,017303       1,18
6      0,0000000  0,0000000
7              0          0
8      0,0010347  0,0704240
9      0,0026700  0,2334447
10      0,011339       0,69
11             0       None

In [ ]:
# change column names
dff = duckdb.sql(
  r"select "
    r"codigo_do_relatorio, as id"
    r"concelho,"
    r"data_do_incidente as data,"
    r"nivel_de_tensao,"
    r"causa_do_incidente as causa,"
    r"duracao_incidente_min_," # TODO mudar nome
    r"n_º_clientes_afetados as n_clientes_afetados,"
    r"tiepi_mt_min_ as tempo_interrupcao_de_energia_pico_minutos_mt,"
    r"end_mwh_ as energia_nao_distribuida_mwh,"
  
)