In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [2]:
zonas = pd.read_csv('data/zonas_fixed.csv')
zonas

           lat     long zona
0      37.0122 -7.93411    A
1      37.0133 -7.92329    A
2      37.0138 -7.92776    A
3      37.0140 -7.91955    A
4      37.0150 -7.93245    A
...        ...      ...  ...
10501  42.1062 -8.21306    C
10502  42.1108 -8.27178    C
10503  42.1153 -8.25803    C
10504  42.1291 -8.24435    C
10505  42.1498 -8.19857    C

[10506 rows x 3 columns]

In [3]:
concelhos = gpd.read_file("data/concelhos.shp")
concelhos

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,HASC_2,CCN_2,CCA_2,TYPE_2,ENGTYPE_2,NL_NAME_2,VARNAME_2,geometry
0,182,PRT,Portugal,1,Ãvora,1,Ãvora,PT.EV.EV,0,0705,Concelho,Municipality,None,None,"POLYGON ((-7.79291 38.76507, -7.79287 38.76506..."
1,182,PRT,Portugal,1,Ãvora,2,Alandroal,PT.EV.AL,0,0701,Concelho,Municipality,None,None,"POLYGON ((-7.25937 38.77351, -7.25921 38.77343..."
2,182,PRT,Portugal,1,Ãvora,3,Arraiolos,PT.EV.AR,0,0702,Concelho,Municipality,None,None,"POLYGON ((-7.88611 38.92495, -7.88580 38.92472..."
3,182,PRT,Portugal,1,Ãvora,4,Borba,PT.EV.BO,0,0703,Concelho,Municipality,None,None,"POLYGON ((-7.46362 38.92344, -7.46344 38.92329..."
4,182,PRT,Portugal,1,Ãvora,5,Estremoz,PT.EV.ES,0,0704,Concelho,Municipality,None,None,"POLYGON ((-7.52770 39.00080, -7.52765 39.00066..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,182,PRT,Portugal,20,Viseu,302,Tarouca,PT.VI.TR,0,1820,Concelho,Municipality,None,None,"POLYGON ((-7.72591 41.08079, -7.72442 41.08028..."
304,182,PRT,Portugal,20,Viseu,303,Tondela,PT.VI.TO,0,1821,Concelho,Municipality,None,None,"POLYGON ((-8.12772 40.64028, -8.12751 40.64027..."
305,182,PRT,Portugal,20,Viseu,304,Vila Nova de Paiva,PT.VI.VP,0,1822,Concelho,Municipality,None,None,"POLYGON ((-7.77933 40.93439, -7.77835 40.93436..."
306,182,PRT,Portugal,20,Viseu,305,Viseu,PT.VI.VS,0,1823,Concelho,Municipality,None,None,"POLYGON ((-7.80686 40.83789, -7.80653 40.83787..."
307,182,PRT,Portugal,20,Viseu,306,Vouzela,PT.VI.VO,0,1824,Concelho,Municipality,None,None,"POLYGON ((-8.04644 40.74920, -8.04635 40.74897..."

In [4]:
zonas_with_geom = zonas.copy()
zonas_with_geom['geometry'] = [Point(x, y) for x, y in zip(zonas['long'], zonas['lat'])]
zonas_with_geom = gpd.GeoDataFrame(zonas_with_geom, geometry='geometry')
zonas_com_concelho = gpd.sjoin(left_df=zonas_with_geom, right_df=concelhos, how='left')
zonas_com_concelho = zonas_com_concelho.iloc[:,0:5] # retirar aquelas ceninhas pq quando fiz da 1ºa vez não a estava a printar toda a info

In [5]:
zonas_com_concelho

           lat     long zona                   geometry  index_right
0      37.0122 -7.93411    A  POINT (-7.93411 37.01220)        125.0
1      37.0133 -7.92329    A  POINT (-7.92329 37.01330)        125.0
2      37.0138 -7.92776    A  POINT (-7.92776 37.01380)        125.0
3      37.0140 -7.91955    A  POINT (-7.91955 37.01400)        125.0
4      37.0150 -7.93245    A  POINT (-7.93245 37.01500)        125.0
...        ...      ...  ...                        ...          ...
10501  42.1062 -8.21306    C  POINT (-8.21306 42.10620)        262.0
10502  42.1108 -8.27178    C  POINT (-8.27178 42.11080)        262.0
10503  42.1153 -8.25803    C  POINT (-8.25803 42.11530)        262.0
10504  42.1291 -8.24435    C  POINT (-8.24435 42.12910)        262.0
10505  42.1498 -8.19857    C  POINT (-8.19857 42.14980)        262.0

[10506 rows x 5 columns]

##### estava a inventar por causa do index...

zonas_com_concelho_fixed = zonas_com_concelho.copy()

zonas_com_concelho_fixed['index_right'] += np.where(zonas_com_concelho_fixed['index_right'] == 0, 1, -1)

zonas_com_concelho_fixed

In [6]:
from simpledbf import Dbf5
dbf = Dbf5('data/concelhos.dbf') # usei este ficheiro porque o shapefile nao estava a printar todas as infos
names_concelhos = dbf.to_dataframe()
names_concelhos

PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

,ID_0,ISO,NAME_0,ID_1,NAME_1,ID_2,NAME_2,HASC_2,CCN_2,CCA_2,TYPE_2,ENGTYPE_2,NL_NAME_2,VARNAME_2
0,182,PRT,Portugal,1,Évora,1,Évora,PT.EV.EV,0,0705,Concelho,Municipality,NaN,NaN
1,182,PRT,Portugal,1,Évora,2,Alandroal,PT.EV.AL,0,0701,Concelho,Municipality,NaN,NaN
2,182,PRT,Portugal,1,Évora,3,Arraiolos,PT.EV.AR,0,0702,Concelho,Municipality,NaN,NaN
3,182,PRT,Portugal,1,Évora,4,Borba,PT.EV.BO,0,0703,Concelho,Municipality,NaN,NaN
4,182,PRT,Portugal,1,Évora,5,Estremoz,PT.EV.ES,0,0704,Concelho,Municipality,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
303,182,PRT,Portugal,20,Viseu,302,Tarouca,PT.VI.TR,0,1820,Concelho,Municipality,NaN,NaN
304,182,PRT,Portugal,20,Viseu,303,Tondela,PT.VI.TO,0,1821,Concelho,Municipality,NaN,NaN
305,182,PRT,Portugal,20,Viseu,304,Vila Nova de Paiva,PT.VI.VP,0,1822,Concelho,Municipality,NaN,NaN
306,182,PRT,Portugal,20,Viseu,305,Viseu,PT.VI.VS,0,1823,Concelho,Municipality,NaN,NaN
307,182,PRT,Portugal,20,Viseu,306,Vouzela,PT.VI.VO,0,1824,Concelho,Municipality,NaN,NaN

In [7]:
joined_zonasConcelhos = zonas_com_concelho.merge(names_concelhos['NAME_2'], left_on = 'index_right', right_index = True, how = 'left')
joined_zonasConcelhos.drop(columns = ['geometry', 'index_right'], inplace = True)
joined_zonasConcelhos.rename(columns = {'NAME_2': 'concelho'}, inplace = True)
joined_zonasConcelhos

           lat     long zona concelho
0      37.0122 -7.93411    A     Faro
1      37.0133 -7.92329    A     Faro
2      37.0138 -7.92776    A     Faro
3      37.0140 -7.91955    A     Faro
4      37.0150 -7.93245    A     Faro
...        ...      ...  ...      ...
10501  42.1062 -8.21306    C  Melgaço
10502  42.1108 -8.27178    C  Melgaço
10503  42.1153 -8.25803    C  Melgaço
10504  42.1291 -8.24435    C  Melgaço
10505  42.1498 -8.19857    C  Melgaço

[10506 rows x 4 columns]

In [8]:
joined_zonasConcelhos.to_csv('data/zonasConcelhos.csv', index = False)